button:hover{
    transform: scale(104%);
}

button {
    text-align: center;
    display:flex;
    margin: auto;
    color: black;
    border: 20px;
    border-radius: 42px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifHaettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: 900;
    font-size: 50px;
}

#stats{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifHaettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: 900;
    font-size: 42px;
}

#spawned, #velocity{
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifHaettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 42px;
    color: white;
}

#add {
    background-color: green;
}

#update {
    background-color: rgb(255, 217, 0);
}

#randomize {
    background-color: turquoise;
}

#generate {
    background-color: orange;
}
#genQTY {
    /* background-color: white; */
    text-align: left;
    margin: auto;
    display: block;
    width: 42px;
    padding: 10px;
  }

  #freeze {
    background-color: red;
}

#demo
{
    background-color: darkslategray;

}
